@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('font/AvenirNextCyr-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
    font-size: 18px;
}

body{
  color: #33475b;
  font-family: "Avenir Next Cyr";
  line-height: 1.611em;
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-width{
  max-width: 1080px;
  margin: 0 auto;
  /* padding: 0 2rem; */
}

/* HEADER----------------------- */

/* STICKY HEADER------------- */
.sticky-header::after{
  content: "";
  display: table;
  clear: both;
}

.sticky-header{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 85px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%
}

.sticky-header *{
  text-decoration: none;
}


/* LEFT ------*/

.left{
  float: left;
  padding: 25px 0px;
}

.lang, .contact-sales a{
  color:#33475b;
  font-size: 0.875rem;
  font-weight: 500;
}

.lang {
  background: none;
  border: none;
  font-family: inherit;

}

.lang-select{  padding-right: 20px;}

.contact-sales{
  padding-left: 20px;
  border-left: solid 1px #cbd6e2;
}

/* RIGHT ---- */

.right{
  float: right;
  padding: 25px 0px;
}

.search i{
  color:#00a4bd;
  margin: 0px 20px
}

.login a{
  color: #fe7a59;
  font-size: .75rem;
  font-weight: 500;
  padding: 12px 25px;
  border: 1px solid #ff7a59;
  background: white;
  margin: 0px 5px;
  border-radius: 5px
}

.get-it a{
  color: white;
  font-size: .75rem;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 12px 10px;
  margin: 0px 5px;
  border-radius: 5px
}

/* NAV --------------- */
nav{
  margin-top: 85px;
  height: 85px;
  box-shadow: 0px 0px 3px 0px;
}

nav .page-width{
  position: relative;
  height: 90px;
}

nav img{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
}

nav ul{
  float: right;
}

nav li{
  display: inline-block;
  padding: 30px 20px;
}

nav select, nav a{
  background: none;
  border: none;
  font-size: 1.05em;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  color: #39475b;
  cursor: pointer;
}
