@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('font/AvenirNextCyr-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
    font-size: 18px;
}

body{
  color: #33475b;
  font-family: "Avenir Next Cyr";
  line-height: 1.611em;
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-width{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 30px;
  /* padding: 0 2rem; */
}

/* HEADER----------------------- */

/* STICKY HEADER------------- */
.sticky-header::after{
  content: "";
  display: table;
  clear: both;
}

.sticky-header{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 85px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.sticky-header *{
  text-decoration: none;
}


/* LEFT ------*/
.left{
  float: left;
  padding: 25px 0px;
}
.lang, .contact-sales a{
  color:#33475b;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
}
.lang {
  font-family: inherit;
  padding-left: 8px;
}
.lang::after{
  content: '\25BC';
  display: inline-block;
  color: #7c98b6;
  font-size: 17px;
  transform: scale(1, .7);
  margin: 0 0 0 0.625rem;
}
.lang-select{
  padding-right: 20px;
  position: relative;
  width: 100%;
}

.contact-sales{
  padding-left: 20px;
  border-left: solid 2px #cbd6e2;
}
.lang_drop-down{
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  border-radius: .1875rem;
  box-shadow: 0 1px 24px rgba(45,62,80,0.12);
  z-index: 95;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  width: 100%;
  padding: 10px 0px;
  z-index: 95;
}
.lang_drop-down a{
  font-weight: 500;
  color: #33475b;
  font-size: 0.875rem;
}
.lang_drop-down li{
  padding: 5px 0px 5px 20px;
}
.lang_drop-down li:hover{
  background: #e5f5f8;
}
.lang-select:focus .lang_drop-down{
  display:block;
}


/* RIGHT ---- */

.right{
  float: right;
  padding: 25px 0px;
}

.search i{
  color:#00a4bd;
  margin: 0px 20px
}

.login a{
  color: #fe7a59;
  font-size: .75rem;
  font-weight: 500;
  padding: 12px 25px;
  border: 1px solid #ff7a59;
  background: white;
  margin: 0px 5px;
  border-radius: 3px;
}

.get-it a{
  color: white;
  font-size: .75rem;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 12px 10px;
  margin: 0px 5px;
  border-radius: 3px;
}

/* NAV --------------- */
nav{
  margin-top: 85px;
  height: 85px;
  /* box-shadow: 0px 2px 3px 0px;
  position: relative; */
}

nav .page-width{
  position: relative;
  height: 90px;
}

nav img{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0%, -50%);
}

nav ul{
  float: right;
}

nav li{
  display: inline-block;
  padding: 30px 20px;
}

nav select, nav a{
  background: none;
  border: none;
  font-size: 1.05em;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  color: #39475b;
  cursor: pointer;
}

/* MAIN ------------------------------------- */

/* JUMBOTRON ---------------------------- */
.jumbotron{
  background: url(img/jumbotron.png);
  height: 695px;
  background-position: top right;
  background-repeat: no-repeat;
  box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
}

.jumbotron .page-width{
  position: relative;
  height: 695px;
}

.jumbotron .box-title{
  position: absolute;
  top:100px;
  left:30px;
  width: 35%;
}

.box-title h1{
  font-size: 2.555rem;
  line-height: 1.304em;
}

.box-title a{
  color: white;
  font-weight: 500;
  text-decoration: none;
  background: #ff7a59;
  padding: 25px;
  border-radius: 3px;
}

.jumbotron .button{
  margin: 40px 0px;
}

.subtitle{
  margin: 20px 0px;
}

.below-button{
  font-size: 0.7777rem;
  color:#33475b;
  max-width: 14rem;
  font-weight: 500;
  line-height: 1.4em;
}

/* BIGGEST ---------------------------- */

/* NO-BG--------------------- */
.biggest{
  background: #f5f8fa;
}
.no-bg{
  width: 100%;
  text-align: center;
  padding: 90px 0px;
}
.no-bg img{
  width: 260px;
  margin:auto;
}
.no-bg h2{
  margin-bottom: 20px;
  font-size: 1.777rem;
}

.rettangolo-white h3, .tre-colonne h3{
  font-size: 1.222rem;
  font-weight: 600;
  line-height: 1.3636;
}

.rettangolo-white p, .tre-colonne p{
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6111111111111112em;
}

.rettangolo-white .heading-hr, .tre-colonne .heading-hr{
  font-weight: 500;
}

.rettangolo-white li, .tre-colonne li{
    font-size: 14px;
    font-weight: 500;
}

.rettangolo-white li::before, .tre-colonne li::before{
  content: '';
  background: url(img/orange_checkmark.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 10px;
}

.rettangolo-white ul, .tre-colonne ul{
  list-style:none;
}


/* RETTANGOLO WHITE -------- */
.rettangolo-white{
  background: WHITE;
  border-radius: 4px;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0 11px #eaf0f6;
  margin-bottom: 2rem;
  transition: 0.3s ease-in-out;
}
.rettangolo-white:hover{
  transform: scale(1.014);
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

  /* first-col ---*/
  .first-col{
    text-align: center;
    width: 35%;
    padding: 0 30px 0 0;
    display: inline-block;
    vertical-align: middle;
  }
  .first-col img {
    width: 100%;
    height: 160px;
    padding-bottom: 20px;
  }
  .first-col a, .col .button a{
    background-color: #ff7a59;
    color: #fff;
    padding: 1em 2em 0.9em;
    font-size: .833rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
  }

    /* second-col ---*/
    .second-col{
      width: 62%;
      display: inline-block;
      vertical-align: middle;
    }
    .second-col .heading-hr{
      position: relative;
    }
    .second-col .heading-hr::after{
      content: '';
      position: absolute;
      height: 5px;
      margin-left: 10px;
      border-bottom: 1px solid #e0e6ed;
      top: 4px;
      width: 75%;
    }

    .second-col li{
      display: inline-block;
      margin-right: 20px;;
    }



/* TRE COLONNE ----------- */

.tre-colonne .col{
  background: WHITE;
  border-radius: 4px;
  box-shadow: 0 0 11px #eaf0f6;
  transition: 0.3s ease-in-out;
  width: 31%;
  float: left;
  padding: 2rem;
  margin-bottom: 36;
}

.tre-colonne .col:hover{
  transform: scale(1.014);
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.tre-colonne::after {
  content: "";
  display: table;
  clear: both;
}

.tre-colonne .col:first-child + .col{
  margin: 0% 3.4%;
}

.col h3, .col .heading-hr, .col .button{
  text-align: center;
}

.col img{
  width: 100%;
  height: 160px;
}

.col .heading-hr{
  border-top: 1px solid #e0e6ed;
  margin-bottom: 15px;
  margin-top: 2em;
  padding-top: 2em;
}

.col ul{
  margin-bottom: 30px;
}

.biggest .page-width{
  padding-bottom: 100px;
}

/* BG-AQUA ---------------------------- */
.bg-aqua{
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-bottom: 80px;
}

.bg-aqua .title {
  text-align: center;
  padding: 100px;
  color: white;
  font-weight: 500;
}

.bg-aqua .title h2{
  font-size: 1.777rem;
  line-height: 1.3125em;
  padding-bottom: 25px;
}
.bg-aqua .title p{
  font-size: 1rem;
  line-height: 1.6111111111111112em;
  padding: 0px 60px;
}

/* SQUARES-------------------------- */
.square{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 25%;
  text-align: center;
  padding: 30px;
  float: left;
}
.square:nth-child(4n){
  border-right:none;
}
.square:nth-child(n+5){
  border-bottom: 0;
}

.squares::after{
  content: "";
  display: table;
  clear: both;
}

.icons{
  height: 40px;
  margin-bottom: 15px;
}

.icon{
  max-width: 150px;
  max-height: 100%;
  margin: auto;
}

.number{
  position: relative;
  padding-right: 10px;
  margin: 0 0 5px;
  font-size: 2.5em;
  color: #fff;
  display: inline-block;
  line-height: 1em;
  font-weight: 700;
  padding-bottom: 15px;
}

.number:after{
  content: '+';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.description{
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.7em;
}


/* CUSTOMERS NUMBER ---------------------------- */

.customers .page-width{
  padding: 100px 0px;
}

/* customers number----------- */

.customers-number h2{
  margin: 0 0 15px;
  font-size: 2.5rem;
  font-weight: bold;
}
.customers-number p{
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  margin-top: 0;
  line-height: 1.62em;
}
.customers-number span{
  font-weight: 500;
}
.customers-number{
  width: 40%;
  padding: 0px 30px;
  display: inline-block;
  vertical-align: middle;
}

/* logos ----------------- */

.logos{
  width: 59%;
  display:inline-block;
  vertical-align: middle;
}
.logo{
  width: 24%;
  height: auto;
  float: left;
  padding: 20px;
}
.logos::after{
  content: "";
  display: table;
  clear: both;
}
.logo img{
  width: 100%;
  vertical-align: middle;
}

/* WOMAN ------------------------------------ */

.woman .page-width{
  padding-bottom: 7.5rem;
}

/* box-title -------------- */

.woman .box-title{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.box-title h2{
  font-size: 1.777rem;
  line-height: 1.304em;
  font-weight: bold;
}

.woman .box-title a{
  padding: 15px 20px;
}

.woman .button{
  margin: 40px 0px;
}

/* img -------------- */

.immagine {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 49%;
}

.immagine img{
  width: 350px;
}

/* FOOTER ---------------------------- */

footer{
  background-color: #33475b;
  color: white;
}

footer h6{
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
}

ul{
  list-style:none;
}

footer a{
  text-decoration: none;
  color: #cbd6e2;
  font-size: 0.875rem;
  font-weight: bold;
}

footer a:hover{
  color: rgb(127, 209, 222);
}

.col-footer li{
  padding: 0.5rem 0;
}

.col-footer{
  float: left;
  width: 24%;
  margin: 80px 0px 50px 0px;
  padding-right: 0.5%;
}
.col-footer:last-child{
  float: right;
}
.col-footer-container::after{
  content: "";
  display: table;
  clear: both;
}

.drop-down{
  color: inherit;
  font-weight: normal;
}

.drop-down::after{
  content: "\25BC";
  display: inline;
  font-family: 'hsg-icons';
  font-size: 12px;
  padding-left: 0.5rem;
}

.white-button{
  text-align: center;
  border-radius: .1875rem;
  background-color: #fff;
  color: #33475b;
  padding: 0.85em 1.111em 0.80em;
  font-size: .75rem;
  font-weight: 500;
}

.social i{
  padding: 1.75rem 1rem 0.75rem 0rem;
  color: #cbd6e2;
}

.social i:hover{
  color: rgb(127, 209, 222);
  cursor: pointer;
}

/* LANGUAGES------------ */
.lang-footer{
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #cbd6e2;
}
.lang-footer:hover{
  color: rgb(127, 209, 222);
  cursor: pointer;
}
.languages{
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: solid 1px #cbd6e2;
}
